        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
            <a  href="/perguntar"</a><button class="btn btn-success ml-auto mr-1">Perguntar</button></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                <ul class="navbar-nav text-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
            </div>
        </nav>